include COPYING
include Makefile
include NEWS
include requirements.txt
include unittests.sh
include man/resalloc-server.1
recursive-include resalloc *.py
recursive-include shelltests *.sh testrunner testlib
recursive-include tests *.py
recursive-include test-tooling resalloc* wrap
recursive-include build_manpages/build_manpages *.py
