[Unit]
Description=Resource allocator server
After=network.target

[Service]
Type=simple

User=resalloc
Group=resalloc

Environment=CONFIG_DIR=/etc/resallocserver
ExecStart=/usr/bin/resalloc-server

[Install]
WantedBy=multi-user.target
