{% extends "layout.html" %}


{% block title %}
Resalloc pools
{% endblock %}


{% block content %}
<h1 class="resource--title">Resalloc pools</h1>
<table class="table">
    <thead class="thead-dark">
    <tr>
        <th scope="col">Pool</th>
        <th scope="col">Up</th>
        <th scope="col">Ready</th>
        <th scope="col">Taken</th>
        <th scope="col">Starting</th>
        <th scope="col">Deleting</th>
        <th scope="col">Releasing</th>
    </tr>
    </thead>
    <tbody>
    {% for pool, info in information.items() %}
    <tr>
        <th scope="row">{{ pool }}</th>
        <td>{{ info['UP'] }}</td>
        <td>{{ info['READY'] }}</td>
        <td>{{ info['TAKEN'] }}</td>
        <td>{{ info['STARTING'] }}</td>
        <td>{{ info['DELETING'] }}</td>
        <td>{{ info['RELEASING'] }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
