{% extends "layout.html" %}


{% block title %}
Resalloc resources
{% endblock %}


{% block content %}
<h1 class="resource--title">Resalloc resources</h1>
<table class="table">
    <thead class="thead-dark">
    <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Pool</th>
        <th scope="col">State</th>
        <th scope="col">Ticket</th>
        <th scope="col">User</th>
        <th scope="col">Sandbox</th>
        <th scope="col">Data</th>
    </tr>
    </thead>
    <tbody>
    {% for resource in resources %}
    <tr>
        <th scope="row">{{ resource.id }}</th>
        <td>{{ resource.name }}</td>
        <td>{{ resource.pool }}</td>
        <td>{{ resource.state }}</td>
        <td>{{ resource.ticket_id }}</td>
        <td>{{ resource.user }}</td>
        <td>{{ resource.sandbox }}</td>
        <td><pre><code>{{ resource.to_dict()["data"] }}</code></pre></td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
