<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resalloc resources</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">
</head>
<body>
    <h1 class="resource--title">Resalloc resources</h1>
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Pool</th>
            <th scope="col">State</th>
            <th scope="col">Ticket</th>
            <th scope="col">User</th>
            <th scope="col">Sandbox</th>
            <th scope="col">Data</th>
        </tr>
        </thead>
        <tbody>
        {% for resource in resources %}
        <tr>
            <th scope="row">{{ resource.id }}</th>
            <td>{{ resource.name }}</td>
            <td>{{ resource.pool }}</td>
            <td>{{ resource.state }}</td>
            <td>{{ resource.ticket_id }}</td>
            <td>{{ resource.user }}</td>
            <td>{{ resource.sandbox }}</td>
            <td>{{ resource.to_dict()["data"] }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</body>
