{% extends 'base.html' %}

{% block content %}

<!-- Block for header -->
<h1>Resalloc Server</h1><br><br>


<!-- block for buttons -->
<div class="container">
    <button type="button" class="btn btn-outline-primary"   >Resource Allocated</button>
    <button type="button" class="btn btn-outline-primary">Ticket list</button><br><br><br>
</div>

<!-- this block is for table content -->
<div>
<table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">ID</th>
        <th scope="col">VIRTUAL ENVIRONMENT</th>
        <th scope="col">TAG</th>
        <th scope="col">STATUS</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>

      </tr>
      <tr>
        <th scope="row">3</th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>

      </tr>
      <tr>
        <th scope="row">4</th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>

      </tr>
      
    </tbody>
  </table>


</div>
{% endblock %}